[submodule ".vim/bundle/.vim/bundle/command-t"]
	path = .vim/bundle/.vim/bundle/command-t
	url = https://github.com/wincent/command-t
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
